<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
                           http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">

	<!-- 转换器converter -->
	<bean name="stringHttpMessageConverter" class="org.springframework.http.converter.StringHttpMessageConverter" />
	<bean name="mappingJackson2HttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />
	<!-- 字节数组转换器，主要解决使用springmvc文件下载的方式出现乱码的情况 -->
	<bean name="byteArrayHttpMessageConverter" class="org.springframework.http.converter.ByteArrayHttpMessageConverter" />
	<!-- 处理前缀注解 argumentResolver -->
    <bean name="handlerMethodArgumentResolverImpl" class="cn.com.agree.aweb.webmvc.HandlerMethodArgumentResolverImpl"/>
    
	<!-- requestMappingHandlerMapping -->
	<bean name="requestMappingHandlerMapping"
		class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping">
	</bean>
	
	 <bean name="requestMappingHandlerAdapter"
        class="cn.com.agree.aweb.webmvc.escape.EscapeSupportedRequestMappingHandlerAdapter">
        <!-- 开启转义注解 -->
        <property name="supportedEscape" value="true" />
        <property name="messageConverters">
            <list>
                <ref bean="stringHttpMessageConverter"/>
                <ref bean="mappingJackson2HttpMessageConverter"/>
                <ref bean="byteArrayHttpMessageConverter"/>
            </list>
        </property>
        <property name="customArgumentResolvers">
            <list>
                <ref bean="handlerMethodArgumentResolverImpl"/>
            </list>
        </property>
    </bean>
	
	<!-- 文件上传处理器 -->
    <bean id="multipartResolver"
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 上传文件最大限制为5M -->
        <property name="maxUploadSize">
            <value>5242880</value>
        </property>
    </bean>
    
	<mvc:annotation-driven />
	
	<!-- 由于web.xml中springmvc拦截路径设置为"/"，处理静态资源的servlet也被覆盖掉，所以使用下面的配置来解决 -->
	<mvc:default-servlet-handler />
	
	<context:component-scan base-package="cn.com.agree.aweb" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	 <!-- 拦截器 -->
    <mvc:interceptors>
        <bean class="cn.com.agree.aweb.webmvc.interceptor.TraceLogInterceptor"></bean>
        <bean class="cn.com.agree.aweb.webmvc.interceptor.SessionCtrlInterceptor"></bean>
        <bean class="cn.com.agree.aweb.webmvc.interceptor.VerifyCSRFTokenInterceptor"></bean>
        <bean class="cn.com.agree.aweb.webmvc.interceptor.VerifyCheckCodeInterceptor"></bean>
       <!--  <bean class="cn.com.agree.aweb.webmvc.interceptor.URLAccessCtrlInterceptor"></bean> -->
        <bean class="cn.com.agree.aweb.webmvc.interceptor.ParametersValidateInterceptor"></bean>
    </mvc:interceptors>

</beans>